<!doctype html>
<title>Pico Server</title>
<style>
  body {
    margin:0;
    background:#111;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
  }

  img {
    max-width:90vw;
    max-height:70vh;
  }

  button {
      background-color:#fff;
      color:#000;
      border:none;
      padding:10px 20px;
      margin:10px;
      border-radius:8px;
      cursor:pointer;
      font-size:18px;
  }

  button:hover {
    background-color:#ddd;
  }
</style>

<img src="/video" alt="video">

<div>
  <button onclick="fetch('/forward')">→</button>
  <button onclick="fetch('/backward')">←</button>
</div>